<template>
  <div class="grad-1">
    <section id="section-1" class="relative">
      <div class="block max-w-4xl m-auto min-h-screen flex flex-row flex-wrap justify-center items-center">
        <div class="sm:w-full md:w-full lg:w-1/3 relative fadeInUp">
          <img class="w-32 h-32 lg:w-64 lg:h-64 rounded-full bg-cover shadow-md" src="../assets/images/avatar.png" style="object-fit: cover; object-position: right center;" />
        </div>
        <div class="sm:w-full md:w-full lg:w-2/3 relative fadeInUp">
          <h2 class="text-white text-center lg:pr-32 font-josef font-bold text-2xl lg:text-3xl py-6 lg:py-2 mb-2">My name is Ben Harrington</h2>
          <p class="justify-self-end text-left text-white text-sm lg:text-lg font-lato font-semibold leading-loose tracking-wide mb-4">
            I'm a web developer from Auburn, Maine. I specialize in tailoring slick, customized solutions to meet the needs of my customers.
          </p>
          <p class="justify-self-end text-left text-white text-sm lg:text-lg font-lato font-semibold leading-loose tracking-wide mb-8">
            In the modern marketplace, regardless of the industry, having a strong web presence and enjoyable web experience is paramount in achieving and maintaining a successful business.
          </p>
          <button @click="smoothScroll({target: 'section-2'})" class="relative bg-blue px-4 py-4 uppercase font-bold font-josef text-white rounded lg:mr-32 shadow-md hover:shadow-lg hover:bg-blue-dark hover:shift-1 hover:text-white">
            My Skills
          </button>
        </div>
      </div>
    </section>
    <AnimatedSection id="section-2" class="py-32 min-h-screen relative">
      <div class="relative fadeInUp anim-delay">
        <h2 class="text-white font-josef text-5xl mb-16 flyin-Left text-center">Skills</h2>
        <div class="flex flex-row flex-wrap justify-center content-center w-full lg:w-1/3 m-auto px-8">
          <svg v-for="(skill, index) in skills" :id="'container-'+ skill" :key="skill.id" :class="`relative mr-3 mb-3 bg-white h-32 w-32 px-4 py-4 hover:shadow-lg rounded-full hover:shift-2 cursor-pointer fadeIn items-anim-delay delay-${index}`" @click="adjustModal({skill})">
            <use class="events-none" :href="'#logo-' + skill"></use>
          </svg>
        </div>
      </div>
    </AnimatedSection>
    <AnimatedSection id="section-3" class="py-24 min-h-screen relative">
      <h2 class="text-white font-josef text-4xl mb-12 flyin-Left text-center fadeInUp anim-delay">The Process</h2>
      <TimeLine />
    </AnimatedSection>
    <FormSection />
    <div id="skill-modal" @click="this.handleModalClick" class="fixed pin-t pin-l w-screen h-screen bg-black-trans hidden">
      <div id="skill-modal-interior" class="relative w-full h-full">
        <div class="fixed center-item-both w-screen h-screen lg:w-1/2 lg:h-128 bg-white rounded-lg shadow-lg">
          <div class="relative px-8 py-8 lg:py-8 lg:px-8 xl:py-16 xl:px-32 w-full h-full">
            <div>
              <svg class="mb-12" id="skill-modal-icon">
                <use href="#"></use>
              </svg>
              <article id="skill-modal-article" class="text-left text-blue-darker font-lato font-semibold tracking-wide leading-loose mb-4">
                <p>Here's some words about that particular skill.</p>
              </article>
              <button @click="smoothScroll({target: 'section-4'})" class="bg-blue-darker px-4 py-4 uppercase font-bold font-josef text-white rounded shadow-md hover:bg-blue hover:text-black hover:shadow-lg">Let's Get Started</button>
            </div>
            <button @click="this.closeModal" class="text-grey-darker text-2xl absolute pin-t pin-r mt-5 mr-8 cursor-pointer">✖</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import AnimatedSection from '../components/AnimatedSection'
import DropdownParagraph from '../components/DropdownParagraph'
import FormSection from '../components/FormSection'
import SlideLine from '../components/SlideLine'
import TimeLine from '../components/TimeLine'

export default {
  data: function () {
    return {
      shouldPara1Show: false,
      shouldPara2Show: false,
      shouldPara3Show: false,
      shouldPara4Show: false,
      sectionTops: {
        'section-1': -1,
        'section-2': -1,
        'section-3': -1
      },
      skills: [
        'react',
        'vue',
        'wordpress',
        'mongodb',
        'php',
        'node',
        'mysql',
        'sass'
      ],
      skillParagraphs: {
        'react': [
          `React is a framework that has developed into a full-blown ecosystem.`,
          `I've been working with React since late 2017, and it's an excellent tool for many jobs.`
        ],
        'vue': [
          `Vue is a stellar framework with very convenient templating. I picked up Vue early in 2018 and it's been my framework tool of choice ever since.`
        ],
        'wordpress': [
          `WordPress is the king of content management systems, and for good reasons.`,
          `I do a TON of WordPress work, and have an extensive experience with both creating new themes and updating old themes.`
        ],
        'mongodb': [
          `MongoDB is a really nice choice for a NoSQL database when working in my preferred JS stack. It has all the standard features you'd expect from a database.`,
          `I've been working with Mongo for almost two years now.`
        ],
        'php': [
          `As long as I've been working with WordPress, I've been working with PHP. It's no longer my preferred back-end, but when working with WordPress, it's like riding a bike.`
        ],
        'node': [
          'Using a Node back-end with your choice of associated packages and the modularity of the modern JavaScript development environment is an absolute <em>treat</em>.',
          `I reach for Node whenever I have the chance, and for the past year and a half it has been my choice on the back-end.`
        ],
        'mysql': [
          `MySQL has long been the standard for databases. While a lot of WordPress development doesn't necessarily entail doing much with MySQL, I've used MySQL to create my own user systems in the past, and I consider myself an expert in MySQL.`
        ],
        'sass': [
          `Initially, I started out working with vanilla CSS, but when I discovered Sass and the power of mixins, variables, and conditionals, I couldn't go back.`,
          `I've used Sass consistently for almost every project for around 2 years.`
        ]
      }
    }
  },
  methods: {
    smoothScroll: function (args) {
      if (args.target) {
        let targ = document.getElementById(args.target)
        if (document.getElementById(args.target)) {
          this.closeModal()
          targ.scrollIntoView({behavior: 'smooth'})
        }
      }
    },
    adjustModal: function (args) {
      let skill = args.skill
      let article = document.getElementById('skill-modal-article')
      let icon = document.getElementById('skill-modal-icon').querySelector('use')

      icon.setAttribute('href', `#logo-${skill}`)
      let assembledArticle = ''
      this.skillParagraphs[skill].forEach((para) => {
        assembledArticle += '<p class="pb-2">' + para + '</p>'
      })
      article.innerHTML = assembledArticle
      this.openModal()
    },
    closeModal: function () {
      let modal = document.getElementById('skill-modal')
      modal.style.animationDirection = 'reverse'
      setTimeout(() => { modal.classList.add('hidden') }, 500, modal)
    },
    openModal: function () {
      let modal = document.getElementById('skill-modal')
      if (modal.classList.contains('fadeIn')) {
        modal.style.animationDirection = 'normal'
      } else {
        modal.classList.add('fadeIn')
      }
      modal.classList.remove('hidden')
    },
    handleModalClick: function (event) {
      if (event.target === document.getElementById('skill-modal-interior')) {
        this.closeModal()
      }
    }
  },
  computed: {},
  components: {
    AnimatedSection,
    DropdownParagraph,
    FormSection,
    SlideLine,
    TimeLine
  },
  updated: function () {}
}
</script>
