<template>
  <section :id="this.$props.id" :class="this.$props.class" v-scrollWatch="{ name: this.$props.id, callback: onWaypoint, offset: 600 }">
    <slot />
  </section>
</template>

<script>
export default {
  data: function () {
    return {}
  },
  props: {
    id: String,
    classs: String
  },
  methods: {
    onWaypoint () {
      this.sectionIn()
    },
    sectionIn () {
      let el = document.getElementById(this.$props.id)
      let delayedAnims = el.querySelectorAll('.anim-delay')
      if (delayedAnims.length > 0) {
        delayedAnims.forEach((delayedAnim) => {
          delayedAnim.classList.remove('anim-delay')
          delayedAnim.classList.add('anim-delay-removed')
        })
      }
      let delayedItems = el.querySelectorAll('.items-anim-delay')
      if (delayedItems.length > 0) {
        delayedItems.forEach((item) => {
          setTimeout(() => {
            item.style.animationPlayState = 'running'
            item.classList.remove('items-anim-delay')
            item.classList.add('items-anim-delay-removed')
          }, 400, item)
        })
      }
    },
    sectionOut () {
      let el = document.getElementById(this.$props.id)
      let delayedAnims = el.querySelectorAll('.anim-delay-removed')
      if (delayedAnims.length > 0) {
        delayedAnims.forEach((delayedAnim) => {
          delayedAnim.classList.remove('anim-delay-removed')
          delayedAnim.classList.add('anim-delay')
        })
      }
      let delayedItems = el.querySelectorAll('.items-anim-delay-removed')
      if (delayedItems.length > 0) {
        delayedItems.forEach((item) => {
          setTimeout(() => {
            item.style.animationPlayState = 'paused'
            item.classList.remove('items-anim-delay-removed')
            item.classList.add('items-anim-delay')
            void item.offsetWidth
          }, 400, item)
        })
      }
    }
  }
}
</script>
