<template>
  <AnimatedSection id="section-4" class="py-32 relative">
    <div class="relative fadeInUp anim-delay">
      <h2 class="text-white font-josef text-4xl mb-12 flyin-Left text-center">Ready to Get Started?</h2>
      <form id="contact-form-mimicked" name="INQUIRY-mimicked" method="post" class="flex flex-row flex-wrap justify-start w-full px-8 lg:px-0 lg:w-2/5 m-auto text-left" netlify>
        <div class="flex flex-col w-1/2 px-2">
          <label class="text-white font-josef font-semibold mb-2" for="fullname-mimick">Your Name</label>
          <input @change="handleName" class="rounded focus:shadow-md p-2 mb-6 formInput" name="fullname-mimick" type="text"/>
        </div>
        <div class="flex flex-col w-1/2 px-2">
          <label class="text-white font-josef font-semibold mb-2" for="email-mimick">Your Email</label>
          <input @change="handleEmail" class="rounded focus:shadow-md p-2 mb-6 formInput" name="email-mimick" type="email"/>
        </div>
        <div class="flex flex-col w-full px-2">
          <label class="text-white font-josef font-semibold mb-2" for="service-mimick">Service Requested</label>
          <input @change="handleService" class="rounded focus:shadow-md p-2 mb-6 formInput" name="service-mimick" type="text"/>
        </div>
        <div class="flex flex-col w-full px-2">
          <label class="text-white font-josef font-semibold mb-2" for="message-mimick">Project Summary</label>
          <textarea @change="handleMessage" class="rounded focus:shadow-md p-2 h-32 mb-6 formInput" name="message-mimick"/>
        </div>
        <div class="flex flex-col w-full px-2">
          <input id="submit-button-mimick" @click.prevent="handleSubmit" type="submit" class="rounded bg-green text-white font-josef font-bold uppercase p-4 cursor-pointer hover:bg-green-dark hover:shadow-lg" value="Submit" />
        </div>
      </form>
    </div>
  </AnimatedSection>
</template>

<script>
import AnimatedSection from './AnimatedSection'
export default {
  data: function () {
    return {
      fullname: '',
      email: '',
      service: '',
      message: ''
    }
  },
  methods: {
    handleName: () => {
      let mimick = document.querySelector('input[name="fullname-mimick"]')
      let real = document.querySelector('input[name="fullname"]')

      if (mimick && real) {
        real.value = mimick.value
      }
    },
    handleEmail: () => {
      let mimick = document.querySelector('input[name="email-mimick"]')
      let real = document.querySelector('input[name="email"]')

      if (mimick && real) {
        real.value = mimick.value
      }
    },
    handleService: () => {
      let mimick = document.querySelector('input[name="service-mimick"]')
      let real = document.querySelector('input[name="service"]')

      if (mimick && real) {
        real.value = mimick.value
      }
    },
    handleMessage: () => {
      let mimick = document.querySelector('input[name="message-mimick"]')
      let real = document.querySelector('textarea[name="message"]')

      if (mimick && real) {
        real.value = mimick.value
      }
    },
    handleSubmit: () => {
      document.getElementById('contact-form').submit()
    }
  },
  components: {
    AnimatedSection
  }
}
</script>
