<template>
  <div>
    <div class="mb-2">
      <article>
        <header>
          <h3>{{this.options.entries[this.activeSlide].heading}}</h3>
        </header>
        <p
          v-for="paragraphs in this.options.entries[this.activeSlide].content"
          :key="paragraphs.id">
          {{this.options.entries[this.activeSlide].content}}
        </p>
      </article>
    </div>
    <div
      :id="this.$props.id"
      class="bg-white rounded-sm relative"
      :style="`width: ${this.options.width}px; height: .5rem;`">
      <div class="relative w-full h-full">
        <div
          @mousedown="startDragging"
          class="cursor-ew absolute border-2 border-grey-dark bg-grey w-4 h-4 rounded-full z-20"
          :style="`position: absolute; left: ${value}%; top: 50%; transform: translate(-50%, -50%);`">
        </div>
      </div>
      <div class="absolute w-full h-full pin-l pin-t">
        <div class="landmarkContainer relative w-full h-full">
          <div
            v-for="i in this.landmarkPositions"
            class="absolute pin-t bg-grey-dark z-10"
            :key="i"
            :style="`height: .5rem; width: 2px; left: ${i}px;`">
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data: function () {
    return {
      value: 0,
      options: {},
      activeSlide: 0,
      dragging: false,
      lastDragged: 0,
      startDrag: 0,
      numberOfEntries: 0,
      landmarkPositions: [0]
    }
  },
  created: function () {
    this.options = JSON.parse(this.$props.args)
    this.numberOfEntries = this.options.entries.length
    for (var i = 1; i < this.numberOfEntries; i++) {
      this.landmarkPositions.push((this.options.width / this.numberOfEntries) * i)
    }
    this.landmarkPositions.push(parseInt(this.options.width))
  },
  mounted: function () {},
  methods: {
    startDragging: function (e) {
      this.dragging = true
      document.addEventListener('mousemove', this.handleDragging, false)
      document.addEventListener('mouseup', this.stopDragging, true)
      this.startDrag = document.getElementById(this.$props.id).getBoundingClientRect().left
    },
    stopDragging: function (e) {
      this.dragging = false
      document.removeEventListener('mousemove', this.handleDragging, false)
      document.removeEventListener('mouseup', this.stopDragging, true)
    },
    handleDragging: function (e) {
      if (this.dragging === true) {
        this.lastDragged = e.clientX
        let calculatedPercent = (((this.lastDragged - this.startDrag) / this.options.width) * 100).toFixed()
        let newVal = this._.clamp(calculatedPercent, 0, 100)
        this.value = newVal
      }
    }
  },
  props: {
    'args': String,
    'id': String
  }
}
</script>
