<template>
  <div class="relative w-64 h-64 m-auto flex justify-center">
    <div class="timelineSlide w-1/2 bg-grey-light rounded-lg shadow-lg py-4 px-2">
      <h3>Discovery</h3>
    </div>
    <div @click="selectSlide" v-for="i in 5" :key="i.id" :class="`timelineDot ${i === 1 ? 'active' : ''}`" :style="`left: ${100 / 4 * (i - 1)}%`"></div>
  </div>
</template>

<script>
export default {
  data: function () {
    return {}
  },
  methods: {
    selectSlide: function (e) {
      if (e.target.classList.contains('timelineDot') && !e.target.classList.contains('active')) {
        document.querySelectorAll('.timelineDot.active').forEach((el) => {
          el.classList.remove('active')
        })
        e.target.classList.add('active')
      }
    }
  }
}
</script>
