<template>
  <div id="app">
    <SVGLibrary />
    <router-view/>
  </div>
</template>

<script>
import './assets/styles/tailwind.css'
import SVGLibrary from './components/SVGLibrary'

export default {
  name: 'App',
  components: {
    SVGLibrary
  }
}
</script>

<style>
#app {
  font-family: 'Lato';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
* {
  transition: all .3s;
}
*::focus {
  outline: none;
}
use {
  fill: currentColor;
}
</style>
