/**
 * This injects Tailwind's base styles, which is a combination of
 * Normalize.css and some additional base styles.
 *
 * You can see the styles here:
 * https://github.com/tailwindcss/tailwindcss/blob/master/css/preflight.css
 *
 * If using `postcss-import`, you should import this line from it's own file:
 * 
 * @import "./tailwind-preflight.css";
 *
 * See: https://github.com/tailwindcss/tailwindcss/issues/53#issuecomment-341413622
 */

@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:100,200,300,400,500,600,700,800,900|Lato:100,200,300,400,500,600,700,800,900');

@tailwind preflight;

/**
 * Here you would add any of your custom component classes; stuff that you'd
 * want loaded *before* the utilities so that the utilities could still
 * override them.
 *
 * Example:
 *
 * .btn { ... }
 * .form-input { ... }
 *
 * Or if using a preprocessor or `postcss-import`:
 *
 * @import "components/buttons";
 * @import "components/forms";
 */

/**
 * This injects all of Tailwind's utility classes, generated based on your
 * config file.
 *
 * If using `postcss-import`, you should import this line from it's own file:
 * 
 * @import "./tailwind-utilities.css";
 *
 * See: https://github.com/tailwindcss/tailwindcss/issues/53#issuecomment-341413622
 */
@tailwind utilities;

/**
 * Here you would add any custom utilities you need that don't come out of the
 * box with Tailwind.
 *
 * Example :
 *
 * .bg-pattern-graph-paper { ... }
 * .skew-45 { ... }
 *
 * Or if using a preprocessor or `postcss-import`:
 *
 * @import "utilities/background-patterns";
 * @import "utilities/skew-transforms";
 */

.center-item-y {
  top: 50%;
  transform: translateY(-50%);
}

.center-item-both {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.justify-self-end {
  justify-self: flex-end;
}

.justify-self-center {
  justify-self: center;
}

.grad-1 {
  background: linear-gradient(237deg, #f09819, #eb3349);
  background-size: 400% 400%;

  -webkit-animation: EasedBackground 17s ease infinite;
  -moz-animation: EasedBackground 17s ease infinite;
  animation: EasedBackground 17s ease infinite;
}

@-webkit-keyframes EasedBackground {
    0%{background-position:0% 0%}
    50%{background-position:93% 100%}
    100%{background-position:0% 0%}
}
@-moz-keyframes EasedBackground {
    0%{background-position:0% 0%}
    50%{background-position:93% 100%}
    100%{background-position:0% 0%}
}
@keyframes EasedBackground { 
    0%{background-position:0% 0%}
    50%{background-position:93% 100%}
    100%{background-position:0% 0%}
}

.grad-2 {
  background: #FF512F;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #F09819, #FF512F);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #F09819, #FF512F); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.select-none {
  user-select: none;
}

.events-none {
  pointer-events: none;
}

.fadeIn {
  opacity: 0;
  animation-delay: 0;
  animation-name: fadeInUp;
  animation-duration: 500ms;
  animation-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  animation-fill-mode: both;
  animation-play-state: running;
}

.fadeOut {
  opacity: 1;
  animation-delay: 200ms;
  animation-name: fadeOut;
  animation-duration: 500ms;
  animation-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  animation-fill-mode: forwards;
  animation-play-state: running;
}

.fadeInUp {
  opacity: 0;
  bottom: -75px;
}

.fadeInUp:not(.anim-delay) {
  animation-delay: 750ms;
  animation-name: fadeInUp;
  animation-duration: 600ms;
  animation-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
  animation-fill-mode: forwards;
  animation-play-state: running;
}

.fadeInUp.anim-delay {
  animation-delay: none;
}

.items-anim-delay {
  animation-play-state: paused;
}

.delay-0 {
  animation-delay: 0s;
}

.delay-1 {
  animation-delay: 100ms;
}

.delay-2 {
  animation-delay: 200ms;
}

.delay-3 {
  animation-delay: 300ms;
}

.delay-4 {
  animation-delay: 400ms;
}

.delay-5 {
  animation-delay: 500ms;
}

.delay-6 {
  animation-delay: 600ms;
}

.delay-7 {
  animation-delay: 700ms;
}

.delay-8 {
  animation-delay: 800ms;
}

.hover\:shift-2 {
  top: 0;
  transition: top .3s, box-shadow .3s;
}

.hover\:shift-2:hover {
  top: -.5rem;
}

.hover\:shift-1 {
  top: 0;
  transition: top .3s, box-shadow .3s;
}

.hover\:shift-1:hover {
  top: -.2rem;
}

.h-rect-ratio {
  height: 5.1vw;
  margin-top: -1px;
}

.cursor-ew:hover {
  cursor: ew-resize;
}

.landmarkContainer div:first-child, .landmarkContainer div:last-child {
  display: none;
}

.timelineDot {
  @apply .absolute .pin-b .w-4 .h-4 .bg-grey-dark .border-2 .cursor-pointer .border-grey .rounded-full;
}

.timelineDot.active {
  @apply .bg-grey-light;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    bottom: -75px;
  }
  to {
    opacity: 1;
    bottom: 0
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
